body {
    background-image: url(samuel-drift.jpg); 
    background-repeat: no-repeat;
    background-position: -100;
    place-items: center;
    margin: auto;
}

header {
    background-color: rgb(31, 32, 31);
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #111;
}

nav li {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    color: rgb(191, 194, 28);
    background-color: rgb(23, 150, 189);
    padding: 15px;
    cursor: pointer;
    margin: 45px;
    border-style: solid;
}

section {
    text-align: center;
    text-decoration: none;
    list-style: none;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}